html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background-color: #C4C4C4 ;
  --secondary-background-color: #f5f4fa;
  --black-background-color: #2f303a;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --logo-accent-color: #000000;
  --border-button-portfolio: #eeeeee;
  --icon-color: #AFB1B8;

}
.page {
  color: var(--primary-text-color);
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.section.no-padding {
  padding-top: 0;
}
/* ----------------Header ----------------*/
.header-box {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  margin-right: 93px;

  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo .logo-accent {
  color: var(--logo-accent-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* ----------------syte-nav---------------- */
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contact-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav .item + .item {
  margin-left: 50px;
}
.contact-nav {
  display: flex;
  margin-left: auto;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.header-contact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}
.nav-item {
  position: relative;

}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
/* ----------------hero ----------------*/
.hero{
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-background-color);
  color: var(--white-text-color);
  text-align: center;
}
.hero-title {
  margin: 0 auto;
  width: 696px; 
  font-family: roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
/*---------------- button---------------- */
.button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  border: none;

  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: #188ce8;
}
/* ----------------section---------------- */
.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* ----------------Переваги ----------------*/
.features {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 270px;
}
.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}
.features-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  width: 270px;
  height: 120px;
}
.features-icon {
  width: 70px;
  height: 70px;
}
/* ---------------- Чим ми займаємось ----------------- */
.example {
  display: flex;
  justify-content: space-between;
}
.work {
  margin-bottom: 50px;
}
.work-item {
  position: relative;
}
.work-title {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  margin: 0;
}
/*---------------- Наша команда---------------- */
.team-section {
  background-color: var(--secondary-background-color);
}
.team {
  margin-bottom: 50px;
}
.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social {
  display: flex;
  justify-content:center;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--icon-color);
  background: var(--white-text-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:not(:first-child) {
  margin-left: 10px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-text-color);
}
.team-icon {
  width: 20px;
  height: 20px;
}
/* ----------------Клієнти---------------- */
.clients-list {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.clients-item:not(:first-child) {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 168px;
  height: 90px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  width: 106px;
  height: 60px;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
/*---------------- button portfolio---------------- */
.button-filter {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  border: var(--border-filter-button);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------------portfolio ----------------*/
.filter {
  display: flex;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}
.filter .item-filter + .item-filter {
  margin-left: 8px;
}
.card-link {
  text-decoration: none;
}
.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.card-item {
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-item:nth-child(3n) {
  margin-right: 0;
}
.card-item:nth-child(n + 4) {
  margin-top: 30px;
}
.card-item:hover .portfolio-cover-text {
  transform: translateY(0);
}
.card-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  line-height: 1.88;
}
.portfolio-cover {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-text-color);
}
.description {
  padding: 20px 24px;
  width: calc(100% - 60px / 3);
  min-width: 370px;
  border-bottom: 1px solid var(--border-button-portfolio);
  border-left: 1px solid var(--border-button-portfolio);
  border-right: 1px solid var(--border-button-portfolio);
}
.card-item:hover,
.card-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*-----------------footer---------------- */
.footer {
  padding: 60px 0;
  background-color: var(--black-background-color);
  margin-left: auto;
  margin-right: auto;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.logo .footer-accent {
  color: var(--white-text-color);
}
.footer-adress {
  display: block;
  margin-bottom: 9px;
  color: var(--white-text-color);
  line-height: 1.71;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
}
.footer-contact {
  display: block;
  color: var(--footer-contact-color);
  line-height: 1.71;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
}
.mail {
  margin-bottom: 9px;
}
.footer-list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
.footer-title {
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.footer-social {
  display: block;
  margin-left: 70px;
  margin-top: 12px;
}
.footer-social-list {
  display: flex;
}
.footer-container {
  display: flex;
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover svg {
  fill: var(--white-text-color);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-form {
  display: flex;
  margin-left: auto;
  margin-top: 12px;
}
.footer-email {
  width: 358px;
  height: 50px;
  padding: 0 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-left: 12px;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
  color: #188ce8;
}
.footer-button-icon {
  margin-left: 10px;
  fill: var(--white-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover .footer-button-icon,
.footer-button:focus .footer-button-icon {
  fill: #188ce8;
}

/* ------------Modal------------- */
.backdrop {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-modal:focus,
.close-modal:hover {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-heading {
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.input-name {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-coment {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}
.checkbox-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-coment {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  cursor: pointer;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-link {
  color: var(--accent-color);
}
.modal-send  {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send:hover,
.modal-send:focus {
  color: #188ce8;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
  top: 0 ;
  left: 0;
}
.modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
} 
.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 9px;
}
.checkbox:checked + .check-icon {
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border: none;
}
.modal-input:focus,
.modal-coment:focus,
.modal-input:hover,
.modal-coment:hover  {
  border: 1px solid var(--accent-color);
  outline: none;
}
.modal-input:focus ~ svg,
.modal-input:hover ~ svg {
  fill: var(--accent-color);
}