.footer {
    padding: 60px 0;
    background-color: $black-background-color;
    margin-left: auto;
    margin-right: auto;
}
.footer__container {
    display: flex;
}
.footer__logo {
    display: block;
    margin-bottom: 20px;
}
.footer__adress {
    display: block;
    margin-bottom: 9px;
    color: $white-text-color;
    line-height: 1.71;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.footer__contact {
    display: block;
    color: $footer-contact-color;
    line-height: 1.71;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.footer__item {
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress:hover,
.footer__adress:focus,
.footer__contact:hover,
.footer__contact:focus {
    color: $accent-color;
}
.footer__title {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-text-color;
}
.footer__social {
    display: block;
    margin-left: 70px;
    margin-top: 12px;
}
.footer__form {
    margin-left: auto;
}