.header__container {
    @extend %container;
    display: flex;
    align-items: center;
    }
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    margin-left: auto;
    margin-right: auto;
    }